<h1>Create a new workout log</h1>
<form action="/plans/create" method="POST"> <!--method POST allows for data to be sent to a server which is necessary for create -->
<!--Name of workout, Duration and Day of completion -->
<label for="title">Workout:</label>
<input type="text" id="title" name="title" required>

<label for="duration">Duration:</label>
<select name="duration" id="duration"> <!--The select function allows me to create pre determined time periods-->
<option value="30 minutes">30 Minutes</option>
<option value="45 minutes">45 Minutes</option>
<option value="60 minutes">60 Minutes</option>
<option value="90 minutes">90 Minutes</option>
</select>

<label for="dayOfCompletion">Date:</label>
<input type="date" name="dayOfCompletion" id="dayOfCompletion" required>
</form>

<button type="submit">Log this workout</button>
<a href="/plans">Back to logs</a>