<!--Home/landing page-->

<h1>Welcome to the Workout Tracker </h1>
<p>Here you can create a workout log, view your created logs as well as edit and delete logs</p>
<a href="/plans/create">Create a new log</a>
<a href="/plans/logs">View your workout logs</a>
